.price {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    background-color: #980004;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 30px 15px 30px;
    margin: 0 auto;
    transition: .2s;
}

@media(max-width: 768px) {
    .price {
        max-width: 100%;
    }
}

.car-item .price {
    margin: 0;
}

@media(max-width: 991px) {
    .car-item .price {
        margin: 0 auto;
    }
}

.price, .car-item .price {
    margin-top: 23px;
}

.mtb.price {
    margin-top: 28px;
}

.price p {
    font-family: 'SquareDemi-Normal';
    font-size: 16px;
    line-height: 1.1;
    color: #fff;
    letter-spacing: 1px;
}

.car-line {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.5);
    padding: 7px 0;
}

.car-line:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.line-icon {
    width: 18px;
}

.line-right {
    flex: 1 1;
    padding-left: 12px;
}

.line-right p {
    margin-top: 0;
}

.line-right p:last-child {
    padding-left: 10px;
}

.two-cols .car-line {
    max-width: 300px;
    width: 49%;
    margin-right: 2%;
}

@media(max-width: 991px) {
    .two-cols .car-line {
        max-width: none;
    }
}

@media(max-width: 500px) {
    .two-cols .car-line {
        width: 100%;
        margin-right: 0;
    }
}

.two-cols .car-line:nth-child(2n) {
    margin-right: 0;
}

.two-cols .car-line:nth-last-child(-n+2) {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

@media(max-width: 500px) {
    .two-cols .car-line:nth-last-child(-n+2) {
        border-bottom: 0;
    }
    .two-cols .car-line:last-child {
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }
}
