.date-line {
    background-color: rgba(12,12,12,0.7);
    padding: 20px 33px;
}

.item .date-line {
    position: absolute;
    z-index: 1000;
    right: 0;
    bottom: 0;
    background-color: rgba(33,33,33,0.7);
}

.date-line p {
    color: #fff;
    margin-top: 0;
    padding-left: 10px;
}